page-form {
	.formIcon {

		ion-icon {
			font-size: 120px;
            //color: color($colors, primary, base);
            color: var(--ion-color-primary);
		}
		border: 5px solid var(--ion-color-primary);
		border-radius: 50%;
		height: 150px;
		width: 150px;
		margin: 0 auto;
	}
	.leftBtn {
		float: left;
	}
	.rightBtn {
		float: right;
	}
	
	.programs {
		$checked-color: #34b93d;
		$unchecked-color: rgba(0, 0, 0, 0.25);
		$checkbox-height: 30px;
		$background-color:#ffffff;
		$font-color:#efefef;
		$duration: .4s;

		ion-label {
			color: var(--ion-color-primary);
		}
		.half {
			width: 50%;
			display: inline-block;
		}

		/* Checkmark style starts */

		@-moz-keyframes dothabottomcheck{
		    0% { height: 0; }
		    100% { height: $checkbox-height/2; }
		}

		@-webkit-keyframes dothabottomcheck{
		    0% { height: 0; }
		    100% { height: $checkbox-height/2; }
		}

		@keyframes dothabottomcheck{
		    0% { height: 0; }
		    100% { height: $checkbox-height/2;  }
		}

		@keyframes dothatopcheck{
		    0% { height: 0; }
		    50% { height: 0; }
		    100% { height: $checkbox-height * 1.2; }
		}
		@-webkit-keyframes dothatopcheck{
		    0% { height: 0; }
		    50% { height: 0; }
		    100% { height: $checkbox-height * 1.2; }
		}
		@-moz-keyframes dothatopcheck{
		    0% { height: 0; }
		    50% { height: 0; }
		    100% { height: $checkbox-height * 1.2; }
		}
		.checkText {
			color: rgba(0,0,0,.25);
		}
		input[type=checkbox]{
		    display:none;
		}
		.an-check {
			position: relative;
			top: -20px;
			-moz-transition: top 0.15s cubic-bezier(0.5, 0, 0, 1.5);
			-o-transition: top 0.15s cubic-bezier(0.5, 0, 0, 1.5);
			-webkit-transition: top 0.15s cubic-bezier(0.5, 0, 0, 1.5);
			transition: top 0.15s cubic-bezier(0.5, 0, 0, 1.5);
		}
		.check-box {
		    height: $checkbox-height;
		    width: $checkbox-height;
		    background-color: transparent;
		    border: $checkbox-height * .1 solid $unchecked-color;
		    border-radius: 5px;
		    position: relative;
		    display: inline-block;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    -moz-transition: border-color ease $duration/2;
		    -o-transition: border-color ease $duration/2;
		    -webkit-transition: border-color ease $duration/2;
		    transition: border-color ease $duration/2;
		    cursor:pointer;
		    vertical-align: middle;
		    margin-right: 5px;

		    &::before, &::after {
		        -moz-box-sizing: border-box;
		        -webkit-box-sizing: border-box;
		        box-sizing: border-box;
		        position: absolute;
		        height: 0;
		        width: $checkbox-height * .2;
		        background-color: $checked-color;
		        display: inline-block;
		        -moz-transform-origin: left top;
		        -ms-transform-origin: left top;
		        -o-transform-origin: left top;
		        -webkit-transform-origin: left top;
		        transform-origin: left top;
		        border-radius: 5px;
		        content: ' ';
		        -webkit-transition: opacity ease .5;
		        -moz-transition: opacity ease .5;
		        transition: opacity ease .5;
		    }

		    &::before {
		        top:$checkbox-height * .72;
		        left: $checkbox-height * .41;
		        box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
		        -moz-transform: rotate(-135deg);
		        -ms-transform: rotate(-135deg);
		        -o-transform: rotate(-135deg);
		        -webkit-transform: rotate(-135deg);
		        transform: rotate(-135deg);
		    }

		    &::after {
		        top: $checkbox-height * .37;
		        left: $checkbox-height * .05;
		        -moz-transform: rotate(-45deg);
		        -ms-transform: rotate(-45deg);
		        -o-transform: rotate(-45deg);
		        -webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		    }
		}

		.item-checkbox-checked {
			.an-check {
				position: relative;
				top: -5px;
			}
			.checkText {
				color: rgba(0,0,0,.80);
				font-weight: bold;
				font-size: 18px;
			}
			input[type=checkbox] + .check-box,
			.check-box.checked{
			    border-color:$checked-color;
			    
			    &::after{
			        height: $checkbox-height * .5;
			        -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
			        -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
			        -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
			        animation: dothabottomcheck $duration/2 ease 0s forwards;
			    }
			     
			    &::before{
			        height: $checkbox-height * 1.2;
			        -moz-animation: dothatopcheck $duration ease 0s forwards;
			        -o-animation: dothatopcheck $duration ease 0s forwards;
			        -webkit-animation: dothatopcheck $duration ease 0s forwards;
			        animation: dothatopcheck $duration ease 0s forwards;
			    }
			}
		}
		
		ion-item {
			width: 200px;
			display: inline-block;
			vertical-align: bottom;
			text-align: center;
		}
		.hide-checkbox {
			opacity: 0;
			height: 0px;
			width: 0px;
			/* position: absolute !important;
			left: 300000px;
			top: 300000px; */
			overflow: hidden;
			/* margin-left: -400000px;
			float: left; */
			position: absolute;
			top: 9000000px;
			left: 9000000px;
		}
		ion-icon {
			font-size: 40px;
			position: relative;
			top: 20px;
			color: var(--ion-color-primary);
		}
		.an-checkbox {
			.program-icon {
				fill: white;
				height: 100px;
				width: 100px;
				margin-top: 15px;
				-moz-transform: scale(.7);
				-ms-transform: scale(.7);
				-webkit-transform: scale(.7);
				transform: scale(.7);
				-moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), height 0.35s cubic-bezier(0.5, 0, 0, 3), width 0.35s cubic-bezier(0.5, 0, 0, 3), margin 0.35s cubic-bezier(0.5, 0, 0, 3);
				-o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), height 0.35s cubic-bezier(0.5, 0, 0, 3), width 0.35s cubic-bezier(0.5, 0, 0, 3), margin 0.35s cubic-bezier(0.5, 0, 0, 3);
				-webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), height 0.35s cubic-bezier(0.5, 0, 0, 3), width 0.35s cubic-bezier(0.5, 0, 0, 3), margin 0.35s cubic-bezier(0.5, 0, 0, 3);
				transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), height 0.35s cubic-bezier(0.5, 0, 0, 3), width 0.35s cubic-bezier(0.5, 0, 0, 3), margin 0.35s cubic-bezier(0.5, 0, 0, 3);
			}
			/*float: left;*/
			text-align: center;
			width: 130px;
			height: 130px;
			cursor: pointer;
			-moz-border-radius: 80px;
			-webkit-border-radius: 80px;
			border-radius: 80px;
			display: block;
			background-color: rgba(0, 0, 0, 0.25);
			margin: 20px;
			-moz-transform: scale(.6);
			-ms-transform: scale(.6);
			-webkit-transform: scale(.6);
			transform: scale(.6);
			-moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
			-o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
			-webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
			transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
		}
		.item-checkbox-checked {
			.an-checkbox {
				.program-icon {
					margin-top: 8px;
					height: 110px;
					width: 110px;
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-webkit-transform: scale(1);
					transform: scale(1);
				}
				background-color: var(--ion-color-primary);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-webkit-transform: scale(1);
				transform: scale(1);
				font-size: 44px;
				color: white;
			}
		}
	}
}
