<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content> -->


<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title *ngIf="pageData?.title.rendered" [innerHTML]="pageData.title.rendered"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pageData?.content.rendered" [innerHTML]="pageData.content.rendered" padding>

</ion-content>
