<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Recruiter Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form
      #recruiterAuthForm="ngForm" 
      (ngSubmit)="login(recruiterAuthForm.value)">
        <ion-item>
          <ion-label fixed>Username</ion-label>
          <ion-input type="text" name="userName" ngModel></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" name="userPassword" ngModel></ion-input>
        </ion-item>
      
      <div padding>
        <ion-button type="submit" class="submitButton" block>Sign In</ion-button>
        <ion-button (click)="cancelLogin()" color="danger" class="submitButton" block>Cancel</ion-button>
      </div>
      <ion-item class="loginError" padding *ngIf="error">{{ error }}</ion-item>
    </form>
  </ion-list>    
</ion-content>
